@font-face {
  font-family: "noto-sans", sans-serif;
  src: url(../fonts/Noto\ Sans.woff2);
}
@font-face {
  font-family: "staatliches";
  src: url(../fonts/Staatliches-Regular.ttf);
}
.statliches {
  font-family: "staatliches", sans-serif !important;
  letter-spacing: 3.2px;
}

.bg-breadcrumb {
  background: #F2F7F6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "noto-sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.txt-primary {
  color: #418043;
}

.txt-secondary {
  color: #1E3A58 !important;
}

.txt-ternary {
  color: #1E3A58 !important;
}

.bg-priamry {
  background: #418043;
}

.bg-secondary {
  background: #1E3A58 !important;
}

.bg-ternary {
  background: #1E3A58 !important;
}

body {
  font-family: "noto-sans", sans-serif;
}

.section-title {
  font-family: "staatliches";
  color: #000000;
  font-size: 45px;
  margin-bottom: 15px;
}

.sub-title {
  font-size: 17px;
  max-width: 70%;
  color: #333333;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .sub-title {
    max-width: 90%;
  }
}

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.site-header.active {
  background: #fff;
}
.site-header.active .navCustom .nav-item .nav-link {
  color: #000000;
}
.site-header.active .navCustom .nav-item .nav-link:hover {
  color: #418043;
}
.site-header.active .navCustom .nav-item .nav-link.active {
  color: #418043;
}
.site-header.active .navCustom .nav-item .btn-default {
  background: #4fa852;
  color: #fff;
}
.site-header.active .navCustom .nav-item .btn-default:hover {
  background: #418043;
}
.site-header.active .navCustom .nav-item .dropdown-item:hover {
  background-color: #418043;
  color: #fff;
}
.site-header.active .navCustom .nav-item .dropdown-item.active {
  background-color: #418043;
  color: #fff;
}
@media (max-width: 375px) {
  .site-header .navbar-brand img {
    width: 200px;
  }
}
.site-header .navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 17px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.7019607843);
  padding: 8px 22px;
  border-radius: 4px;
  font-weight: 700;
  font-family: "noto-sans", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .site-header .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}
.site-header .navCustom .nav-item .nav-link:hover {
  color: #fff;
}
.site-header .navCustom .nav-item .nav-link.active {
  color: #fff;
}
.site-header .navCustom .nav-item .dropdown-item:hover {
  background-color: #418043;
  color: #fff;
}
.site-header .navCustom .nav-item .dropdown-item.active {
  background-color: #418043;
  color: #fff;
}

.banner {
  min-height: 110vh;
  background-image: linear-gradient(90deg, rgba(33, 35, 52, 0.631372549), rgba(9, 9, 54, 0.47)), url(../images/banner-bg.jpg);
  background-position: center top;
}

.featured-product .container {
  transform: translateY(-70px);
}
.featured-product .row .product-col {
  text-align: center;
}
.featured-product .row .product-col:nth-child(1) .featured-product-box {
  background: #418043;
}
.featured-product .row .product-col:nth-child(2) .featured-product-box {
  background: #377139;
}
.featured-product .row .product-col:nth-child(3) .featured-product-box {
  background: #2F6731;
}
.featured-product .row .product-col .featured-product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 30px;
  padding: 55px;
}
.featured-product .row .product-col .featured-product-box .title {
  font-size: 2.3rem;
  font-family: "staatliches";
  color: #fff;
  line-height: 1.1;
}
.featured-product .row .product-col .featured-product-box .desc {
  font-size: 16px;
  color: #fff;
}

.flavour .flavour-box {
  background-color: #F2F7F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 30px;
  padding: 55px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
.flavour .flavour-box .title {
  font-size: 2.3rem;
  font-family: "staatliches";
  line-height: 1.1;
}
.flavour .flavour-box .desc {
  font-size: 16px;
}

.revolution {
  background-image: url(../images/vegetables-background.svg), linear-gradient(#0c0c0c, #000000);
  background-size: cover;
  height: 60vh;
}

.default {
  padding: 90px 0;
}

.w-75 {
  width: 75% !important;
  max-width: unset;
}

.occation .photobox {
  margin-bottom: 25px;
}
.occation .photobox .photo {
  position: relative;
}
.occation .photobox .photo img {
  transition: all 0.2s ease-in-out;
}
.occation .photobox .photo .info {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  background: white;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 45px;
}
.occation .photobox .photo:hover img {
  filter: brightness(0.6);
}

.quick-menu {
  background-image: url(../images/bg-burger.png), linear-gradient(#0c0c0c, #000000);
  background-size: cover;
  background-attachment: fixed;
}

.menu-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.menu-row:not(:last-child) {
  margin-bottom: 25px;
}
.menu-row img {
  width: 115px;
  height: 115px;
}
.menu-row .inner {
  width: 100%;
}
.menu-row .inner .box {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu-row .inner .box::after {
  content: "";
  border: 2px dashed grey;
  position: absolute;
  top: 12px;
  width: calc(100% - 240px);
  margin: 0 auto;
  left: 53px;
  right: 0;
}
.menu-row .inner .box h3 {
  font-family: "staatliches";
  color: #fff;
}

.products a:hover .title {
  color: #418043 !important;
}

.shop-all {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F7F6;
  margin-top: 77px;
}

.footer-top {
  background-image: linear-gradient(rgba(12, 12, 12, 0.56), rgba(8, 7, 7, 0.64)), url(../images/Litt-Cocktail-Mixers-India-5.jpg);
  /* background-size: 102% 178%; */
  background-position: center center;
  transform: translateY(73px);
}

.select-styles {
  padding: 15px 0;
  border: 0;
  border-bottom: 2px solid #E6F0EE;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
}

.select-styles:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid #418043;
}

.product-details .counter {
  border: 1px solid #418043;
  display: flex;
  padding: 12px;
}
.product-details .counter .count {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  gap: 15px;
}
.product-details .counter .count:hover {
  background: #418043;
  color: #fff;
}
.product-details .counter .count-val {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

#nav-tab .nav-link {
  font-size: 13px;
  color: #1b1b1b;
  font-weight: 600;
  border: 0;
  border-bottom: 3px solid transparent;
}
#nav-tab .nav-link.active {
  border-bottom: 3px solid #418043;
}

footer {
  background-image: url(../images/footer-vegetables-background.svg), linear-gradient(#0c0c0c, #000000);
  background-size: cover;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: #fff;
  line-height: 2;
  font-weight: 600;
}
footer ul li a:hover {
  color: #418043;
}

.slick-track {
  padding: 10px 0;
}

.slick-next {
  height: 35px !important;
  width: 35px !important;
  background: #418043;
}
.slick-next:hover {
  background: #1E3A58 !important;
}

.slick-prev {
  height: 35px !important;
  width: 35px !important;
  background: #418043;
}
.slick-prev:hover {
  background: #1E3A58 !important;
}

.slick-dots li button {
  background: lightgrey !important;
}
.slick-dots li button:before {
  opacity: 0 !important;
}

.slick-dots li.slick-active button {
  background: #418043;
}

.carousel-indicators {
  bottom: 15px;
}
.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.btn-default {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  background: #fff;
  padding: 13px 30px;
  transition: all 0.2s linear;
  text-decoration: none;
  text-transform: capitalize;
}
.btn-default:hover {
  background: #418043;
  color: #fff;
}

.btn-default-dark {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  background: #242424;
  padding: 13px 30px;
  transition: all 0.2s linear;
  text-decoration: none;
  text-transform: capitalize;
}
.btn-default-dark:hover {
  background: #418043;
  color: #fff;
}

.btn-primary {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background: #418043;
  padding: 13px 30px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  text-transform: capitalize;
  border-color: #418043;
}
.btn-primary:hover {
  background: #56a958 !important;
  color: #fff !important;
  border-color: #418043;
}/*# sourceMappingURL=app.css.map */